{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">Al's Django Upload thingy</h2>
  <p class="card-text">Below here will be a preview slide of the instruction video</p>
  <p class="card-text">I suppose that can be hosted on YouTube? in progress</p>
  <p class="card-text">
    Here is an example link to <a href="https://www.youtube.com/watch?v=SkgTxQm9DWM">YouTube</a> or
    read the <a href="https://github.com/DynamicGenetics/Uploader/">Read Me</a>.
  </p>
  <p class="card-text">
    Al Tanner<br>
    <a href="https://github.com/DynamicGenetics">@DynamicGenetics</a>
  </p>
{% endblock %}
