{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">How to download your data</h2>
  <h4 class="card-title">Instructions for Facebook</h4>
  <p class="card-text"><ol>
    <li>Click [arrow down icon] in the top right of Facebook, then click <b>Settings</b>.</li>
    <li>In the left column, click <b>Your Facebook Information</b>.</li>
    <li>On the right, click <b>View</b> next to <b>Download Your Information</b>.</li>
    <li>In the three options, <b>change Format to JSON</b> [image], but leave everything else as the default.</li>
    <li>Click <b>Create File</b> to confirm the download request. When it is ready, you will receive a notification. This may take a few of days</li>
    <li>When done, go back to <b>Your Facebook Information</b>, and there will be a red notification next to <b>Available copies</b>; click this.</li>
    <li>Click <b>Download</b> and enter your password.</li>
    <li>The download will now start. This may take some time depending on your internet connection. When finished, your Facebook Information file will be in the folder where your downloads normally go, and is ready to be sent to us.</li>
</ol>


  <h4 class="card-title">Instructions for Instagram</h4>
  <p class="card-text"><ol>
    <li>Go to your profile and click the cog in the top right corner.</li>
    <li>Click <b>Privacy and Security</b>.</li>
    <li>Scroll down to Data Download and click <b>Request Download</b>.</li>
    <li>Enter the email address where you'd like to receive a link to your data and click Next.</li>
    <li>Enter your Instagram account password and click Request Download.</li>
    <li>You'll soon receive an email titled <b>Your Instagram Data</b> with a link to your data. Click <b>Download Data</b> and follow the instructions to finish downloading your information. When finished, your Instagram information file will be in the folder where your downloads normally go, and is ready to be sent to us.
</li>
</ol></p>
  <p class="card-text">
    Here is an example link to <a href="https://www.youtube.com/watch?v=SkgTxQm9DWM">YouTube</a> or
    read the <a href="https://github.com/DynamicGenetics/Uploader/">Read Me</a>.
  </p>

{% endblock %}